* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #fff;
}

body {
  min-height: 100vh;
}

h1 {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 81, 255);
}

.a-cadastro {
  margin-left: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(211, 215, 219);
}

.lista-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.botao-deletar {
  margin-left: 0.2rem;
  padding: 0 0.4rem;
}

.botao-deletar:hover {
  background-color: rgb(250, 132, 132);
}

label {
  color: black;
}

.botao-cadastro {
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.div-atualizar {
  color: black;
}